@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #dddce0;
  --bg-additional-color: #16161d;
  --color: #16161d;
  --white-color: #dddce0;
  --white-color-card: #fff;
  --gray-color: #9e9a9a;
  --border-radius: 10px;
  --orange-color: #ff6b08;
  --box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.411);
  --font-size-1: 45px;
  --font-weight-1: 700;
  --font-size-2: 20px;
  --font-weight-2: 400;
  --font-weight-3: 300;
  --font-size-3: 17px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif !important;
  line-height: 24px;
}

body {
  background: var(--bg-color);
  padding: 20px;
}

a {
  text-decoration: none;
}

h3 {
  color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

img {
  border-radius: var(--border-radius);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

span,
p {
  font-size: var(--font-size-3) !important;
}

.Sitebar {
  background: var(--bg-additional-color);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-right: 10px;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Sitebar img {
  border-radius: var(--border-radius);
}
.Sitebar ul {
  margin: 5px 20px 5px 20px;
}
.Sitebar ul li h3 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  color: var(--white-color);
}
.Sitebar ul li ul li {
  color: var(--orange-color);
}
.Sitebar ul li ul li span {
  color: var(--gray-color);
}
.Sitebar ul li ul li a {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
  color: var(--gray-color);
  text-decoration: none;
}

.AboutMeContainer {
  padding: 30px;
}
.AboutMeContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.AboutMeContainer ul li {
  list-style: none;
  color: var(--color);
}
.AboutMeContainer ul li h3 {
  color: var(--color);
}

.AboutMeTitle ul:first-child li h2 {
  font-size: var(--font-size-2);
  color: var(--color);
}
.AboutMeTitle ul:first-child li h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  color: var(--color);
}
.AboutMeTitle ul:nth-child(2) li h3 {
  color: var(--color);
}
.AboutMeTitle ul:last-child li:first-child h3 {
  color: var(--color);
}
.AboutMeTitle ul:last-child li:last-child ul li p {
  font-size: var(--font-size-2);
  font-weight: 400;
}
.AboutMeTitle ul:last-child li:last-child ul li p span {
  font-weight: bold;
}

.AboutMeProjects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.AboutMeProjects ul li {
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--white-color-card);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AboutMeProjects ul li a {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
}
.AboutMeProjects ul li a img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
.AboutMeProjects ul li a:last-child img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 40px;
  padding: 17px;
}
.AboutMeProjects ul li section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AboutMeProjects ul li section span span {
  color: var --gray-color;
  font-size: var(--font-size-3);
}

.card-text {
  font-size: var(--font-size-2);
  text-align: center;
  font-weight: var(--font-weight-2);
  padding-top: 10px;
  height: 70px;
}

.text-under-card {
  font-size: var(--font-size-3);
  font-weight: normal;
  text-align: center;
}

.AboutMeEducation p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.AboutMeEducation p a span:last-child {
  color: var(--gray-color);
}
.AboutMeEducation p a span:first-child {
  color: var(--orange-color);
  font-size: var(--font-size-3);
}
.AboutMeEducation span {
  color: var(--gray-color);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
}
.AboutMeEducation ul li {
  padding-bottom: 15px;
}
.AboutMeEducation ul li p a {
  color: var(--gray-color);
}