.Sitebar {
    background: var(--bg-additional-color);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    max-width: 410px;
    flex-direction: column;
    img {
        border-radius: var(--border-radius);
        object-fit: cover;
        max-width: 370px;
        max-height: 370px;
    }
    ul {
        margin: 5px 20px 5px 20px;
        li {
            h3 {
                font-size: var(--font-size-2);
                font-weight: var(--font-weight-1);
                color: var(--white-color);
            }
            ul {
                li {
                    list-style: circle;
                    color: var(--orange-color);
                    span {
                        color: var(--gray-color);
                    }
                    a {
                        font-size: var(--font-size-3);
                        font-weight: var(--font-weight-2);
                        color: var(--gray-color);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Sitebar {
        margin: 0 auto;
    }
}
@media screen and (max-width: 425px) {
    .Sitebar {
        margin: 0;
    }
}
