:root {
    --bg-color: #dddce0;
    --bg-additional-color: #16161d;
    --color: #16161d;
    --white-color: #dddce0;
    --border-radius: 8px;
    --orange-color: #ff6b08;
    --box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.411);
}
