:root {
    --bg-color: #dddce0;
    --bg-additional-color: #16161d;
    --color: #16161d;
    --white-color: #dddce0;
    --white-color-card: #fff;
    --gray-color: #9e9a9a;
    --border-radius: 10px;
    --orange-color: #ff6b08;
    --box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.411);

    --font-size-1: 45px;
    --font-weight-1: 700;

    --font-size-2: 20px;
    --font-weight-2: 400;
    --font-weight-3: 300;

    --font-size-3: 17px;
}
